
@media(max-width: 990px){

    .about{
        flex-direction: column;
        text-align: center;
    }

    .cards{
        grid-template-columns: repeat(2,1fr);
    }

    .hero-content h2{
        font-size: 40px;
    }
}

/* Mobile */

@media(max-width: 768px){

    .navbar{
        flex-direction: column;
        gap: 15px;
    }

    .nav-links{
        flex-direction: column;
        text-align: center;
    }

    .cards{
        grid-template-columns: 1fr;
    }

    .about img{
        width: 100%;
    }

    .hero-content h2{
        font-size: 32px;
    }

    .hero-content p{
        font-size: 16px;
    }

    .section-title,
    .about-content h2,
    .volunteer h2{
        font-size: 30px;
    }
}